Repository cbc-univie/transformato, changes with the labels that .github/labeler.yml gives for each.
All labels: asfe, restraints, charmm, analysis, endstate_correction

.github/labeler.yml:

asfe:
- transformato/annihilation.py
restraints:
- transformato/restraints.py
charmm:
- transformato/charmm_factory.py
analysis:
- transformato/analysis.py
endstate_correction:
- transformato/bin/perform_correction.py
- transformato/bin/slurm_switching.sh

Update documentation
  _modules/transformato/mutate.html
  autosummary/transformato.mutate.html
  genindex.html
  objects.inv
  searchindex.js
Labels: none

removing unnecessary print statements
  transformato/mutate.py
  transformato/state.py
Labels: none

Update documentation
  _modules/transformato/mutate.html
  _modules/transformato/state.html
Labels: none

openmm_run_vacuum.py is not necessary anymore
  transformato/bin/openmm_run_vacuum.py
  transformato/state.py
Labels: none

Update documentation
  _modules/transformato/state.html
Labels: none

better error handling for unexpected inp files
  transformato/state.py
Labels: none

Fix code style issues with Black
  transformato/state.py
Labels: none

Update documentation
  _modules/transformato/state.html
Labels: none

modified analysis for amber FF
  transformato/analysis.py
  transformato/bin/openmm_run.py
  transformato/tests/test_amber.py
Labels: analysis

Update documentation
  _modules/transformato/state.html
Labels: none

adapt keyword handling in analysis file
  transformato/analysis.py
Labels: analysis

asfe should work now
  transformato/mutate.py
Labels: none

Update documentation
  Additional_Settings.html
  Analysis.html
  Installation.html
  Running_Simulation.html
  System_Setup.html
  Troubleshooting.html
  _modules/index.html
  _modules/transformato/mutate.html
  _modules/transformato/restraints.html
  _modules/transformato/state.html
  _modules/transformato/system.html
  api.html
  autosummary/transformato.mutate.html
  autosummary/transformato.restraints.html
  autosummary/transformato.state.html
  autosummary/transformato.system.html
  autosummary/transformato.utils.html
  genindex.html
  index.html
  py-modindex.html
  search.html
  whatistransformato.html
Labels: none

adapt unit to work with openmm8.1
  transformato/tests/test_restraints.py
Labels: none

Fix code style issues with Black
  transformato/tests/test_restraints.py
Labels: none

Update documentation
  _modules/transformato/mutate.html
  _modules/transformato/state.html
  _modules/transformato/system.html
  autosummary/transformato.mutate.html
  autosummary/transformato.state.html
  genindex.html
  objects.inv
  searchindex.js
Labels: none

upgrade to pymbar 4
  .github/workflows/CI.yaml
  devtools/conda-envs/fep_env.yaml
  transformato/analysis.py
Labels: analysis

Fix code style issues with Black
  transformato/analysis.py
Labels: analysis

update CI.yaml
  .github/workflows/CI.yaml
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

remove dependency on tf_routes
  devtools/conda-envs/fep_env.yaml
  transformato/mutate.py
Labels: none

Fix code style issues with Black
  transformato/mutate.py
Labels: none

Update documentation
  _modules/transformato/mutate.html
  autosummary/transformato.mutate.html
  genindex.html
  objects.inv
  searchindex.js
Labels: none

first clean up
  devtools/meta.yaml
  transformato/analysis.py
  transformato/annihilation.py
  transformato/charmm_factory.py
  transformato/constants.py
  transformato/helper_functions.py
  transformato/mutate.py
  transformato/tests/test_alchemical_path_generation.py
  transformato/tests/test_misc.py
  transformato/tests/test_postprocessing.py
  transformato/tests/test_run_production.py
  transformato/tests/test_system_setup.py
  transformato/testsystems.py
Labels: asfe, charmm, analysis

Fix code style issues with Black
  transformato/helper_functions.py
  transformato/tests/test_misc.py
  transformato/tests/test_postprocessing.py
  transformato/tests/test_system_setup.py
Labels: none

Update documentation
  _modules/transformato/mutate.html
  autosummary/transformato.mutate.html
  genindex.html
  objects.inv
  searchindex.js
Labels: none

small change
  devtools/conda-envs/fep_env.yaml
Labels: none

change python version back
  .github/workflows/CI.yaml
Labels: none

Update documentation
  _modules/transformato/mutate.html
  autosummary/transformato.mutate.html
  genindex.html
  objects.inv
  searchindex.js
Labels: none

new python version (3.11) for CI workflow
  .github/workflows/CI.yaml
Labels: none

Update documentation
  _modules/transformato/mutate.html
  autosummary/transformato.mutate.html
  genindex.html
  objects.inv
  searchindex.js
Labels: none

Update documentation
  _modules/transformato/mutate.html
  autosummary/transformato.mutate.html
  genindex.html
  objects.inv
  searchindex.js
Labels: none

allow two python versions
  .github/workflows/CI.yaml
Labels: none

Update documentation
  _modules/transformato/mutate.html
  _modules/transformato/state.html
  _modules/transformato/system.html
  autosummary/transformato.mutate.html
  autosummary/transformato.state.html
  genindex.html
  objects.inv
  searchindex.js
Labels: none

set exclude Hs to False
  transformato/mutate.py
Labels: none

Update documentation
  _modules/transformato/mutate.html
  _modules/transformato/state.html
  _modules/transformato/system.html
  autosummary/transformato.mutate.html
  autosummary/transformato.state.html
  genindex.html
  objects.inv
  searchindex.js
Labels: none

update test
  transformato/tests/test_misc.py
Labels: none

update CI to newest versions
  .github/workflows/CI.yaml
Labels: none

Update README.md to correct documentation link
  README.md
Labels: none
